* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, sans-serif;
}




body {
    background-color: #f5f5f5;
}

header {
    height: 100%;
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(3, 34, 56);
    border: 5px solid black;
    /* برای فیکس شدن نوبار وقتی اسکرول میکنیم */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;

}

/* لوگوی سمت چپ */
.navbar_left .logo {
    font-size: 20px;
    font: bold;
    color: rgb(250, 250, 250);
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid black;
    border-radius: 20%;
    outline: 2px solid rgba(255, 255, 255, 0.3);
    padding: 8px 20px;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.logo i {
    background-color: black;
    color: #f5f5f5;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    font-size: 1.4rem;
}


/* لینک های وسط */
.nav-link {
    list-style: none;
    display: flex;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li a:hover {
    color: #07000b;
}


/* لوگو سمت راست */
.navbar_right {
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid black;
    border-radius: 20%;
    outline: 2px solid rgba(255, 255, 255, 0.3);
    text-decoration: none;
}

.navbar_right a {
    color: rgb(250, 250, 250);
}

div .start {
    text-decoration: none;
}


/* hero section */
#hero {
    height: 100vh;
    background-image: url("Success\ technology.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    color: #fff
}

/* متن hero */
.hero_text h1 {
    font-size: 48px;
}

.hero_text h2 {
    font-size: 30px;
}

.hero_text p {
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 2px;

}

/* کانتینر باکس ها */
.cards_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* استایل هر باکس */
.card {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    color: #fff;
}

/* هاور باکس */
.card:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-5px)
}

/* ایکوون داخل باکس */
.card .icon {
    font-size: 40px;
    margin-bottom: 10px;
}

/* تیتر باکس  */
.card h3 {
    margin-bottom: 10px;
    font-size: 18px;

}

/* توضیح باکس */
.card p {
    font-size: 14px;
}

.card i {
    font-size: 40px;
    line-height: 100px;

}



/* عکس بغلش یک متن */
.img-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding: 20px;

}

.img-box {
    padding: 15px;
    box-sizing: border-box;
    display: flex;

}

.img-box img {
    display: block;
    width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    /* padding: 100px; */
}

.text {
    max-width: 600px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    padding: 20px;
}


/* زبان های برنامه نویسی */
.prg_icon {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    gap: 100px;
    cursor: pointer;
}


.prg_icon h3:hover {
    transition: 0.4s;
    /* border: 2px solid rgb(3, 34, 56); */
    color: rgb(3, 34, 56);
    padding: 10px;
    font-size: 25px;
}



/* عکس بغلش نوشته با ایکن */
.photo2 {
    padding: 100px;
    display: flex;

}

.img2 img {
    width: 600px;
    height: 600px;
    margin: 40px;
}

.fontfont {
    margin-top: 100px;
    text-align: left;
}

.fontfont i {
    padding-right: 50px;
    color: rgb(13, 41, 109);
    font-size: 30px;

}

.fontfont h3 {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 30px;
}

.fontfont h3:hover {
    font-weight: bold;
    color: rgb(13, 41, 109);

    transition: 0.3s;
}


/* 6تا باکس کنار هم سه تا سه تا */

.servic {
    margin-bottom: 35px;
    margin-left: 100px;
}


.box6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
    padding: 40px;
    background-color: rgb(3, 34, 56);


}

.box6 .boxbox {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    outline: 4px solid white;
    padding: 20px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    /* transition: transform 0.5s ease, box-shadow 0.5s ease; */
    transition: 0.4s
}


.box6 .boxbox i {
    font-size: 36px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}


.box6 .boxbox p {
    margin: 0;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;

}

.box6 .boxbox:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);


}

/* تکست با دکمه با بکگرند تصویر */

.submitback {
    margin-top: 120px;
    background-image: url(download\ \(2\).jpg);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    position: relative;

}

.submittt {
    background-color: rgba(0, 0, 0, 0.35);
    color: #ffffff;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    text-align: center;

}

div .hhh {
    text-align: center;
    margin-bottom: 20px;
}

/* div .hhhh {

    margin-top: 20px;
    display: inline-block;
    border: 2px solid white;
    text-align: center;
    justify-content: center;


} */
.submittt a {
    margin-top: 20px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
    padding: 7px;

}

div .hhhh:hover {

    background-color: #ffffff;
    color: #07000b;
    cursor: pointer;
}


/* محصولات و عکس ها */

.example {
    margin-top: 150px;
}

.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    margin: 30px;
}

.photo-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.photo-box:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
}

.photo-box .overtext {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-weight: bold;
    pointer-events: none;
}

.photos img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;

}

.photos .pho1 {
    height: 400px;
}

.photos .pho2 {
    height: 250px;
}

.photos .pho3 {
    height: 300px;
}

.photos .pho4 {
    height: 430px;
}

.photos .pho5 {
    height: 290px;
}

.photos .pho6 {
    height: 500px;
}

@media screen and (max-width: 768px) {
    .photos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .photos {
        grid-template-columns: 1fr;
    }

}


/*عکس تیم ورک  */

.imagteam {
    margin-top: 13rem;
    margin-left: 7rem;
    margin-bottom: 120px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.imagteam img {
    width: 600px;
    height: 600px;
    border-radius: 15px;

}

.imagteam h3 {
    margin-bottom: 10px;
}

.imagteam p {
    margin-bottom: 40px;
}

.imagteam>div:nth-child(2)>p {
    margin-bottom: 30px;
    line-height: 1.6;
}





.itm1,
.itm2,
.itm3,
.itm4 {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 40px;
    margin-left: 40px
}

.itm1 i,
.itm2 i,
.itm3 i,
.itm4 i {
    font-size: 32px;
    color: rgb(13, 41, 109);
}

.itm1 span,
.itm2 span,
.itm3 span,
.itm4 span {
    font-size: 28px;
    font-weight: bold;
    display: block;
}

.itm1 p,
.itm2 p,
.itm3 p,
.itm4 p {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
    color: black;
}



.itm1:hover div p,
.itm2:hover div p,
.itm3:hover div p,
.itm4:hover div p {

    font-size: 15px;
    color: rgb(4, 26, 80);
    transition: 0.5s;
}


.itm1:hover span,
.itm2:hover span,
.itm3:hover span,
.itm4:hover span {


    color: rgb(4, 26, 80);

}


/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */
/*   */


/* send us Email*/
.send-email {
    background-color: rgba(47, 51, 157, 0.43);
    margin: 3rem;
    display: flex;
    padding: 4rem;
    border-radius: 1rem;
}

.textss {
    margin: 0.1rem 0 0 0;
    font-size: 0.95rem;
    color: #333;
    opacity: 0.85;
}

.icon1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.loc-text h4 {
    margin: 0;
    font-size: 1rem;

}

.email-text h4 {
    margin: 0;
    font-size: 1rem;
}

.phone-text {
    margin: 0;
    font-size: 1rem;
}

.icon1 i {
    color: rgb(3, 34, 56);
    font-size: 2, 2rem;
    margin-top: o.2rem;
}

#iii {
    color: rgb(3, 34, 56);
    font-size: 2.2rem;
    margin-top: 0.2rem;
}




/* form right */
.right-form {
    background-color: rgba(255, 255, 255, 0.35);
    transition: background-color 0.3 ease;
    padding: 2rem;
    border-radius: 1.4rem;
    width: 50%;
    -webkit-border-radius: 1.4rem;
    -moz-border-radius: 1.4rem;
    -ms-border-radius: 1.4rem;
    -o-border-radius: 1.4rem;
    -webkit-transition: background-color 0.3 ease;
    -moz-transition: background-color 0.3 ease;
    -ms-transition: background-color 0.3 ease;
    -o-transition: background-color 0.3 ease;
}

.right-form:hover {
    background-color: rgb(3, 34, 56);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-form .row {
    display: flex;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: 0.7rem;
    border: none;
    outline: none;
    font-size: 0.9rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
}

.contact-form textarea {
    min-height: 8rem;
    resize: none;
}

.contact-form button {
    padding: 0.5rem;
    border: none;
    border-radius: 0.9rem;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

/* .contact-form button:hover {
    background-color: rgb(3, 34, 56);
    color: #fff;

} */

.send-email {
    border: rgb(3, 34, 56) 1rem solid;
}

.send-email {
    display: flex;
    gap: 14rem;
}

/* درباره ما */

.us {
    display: flex;
    padding-bottom: 3REM;
}

.about-us i {
    font-size: 2rem;
    background-color: black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.about-us h2 {
    display: inline;
    color: #07000b;
}

.company {
    line-height: 1.5rem;
}

.icc {
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    font-size: 1.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.icc:hover {
    background-color: wheat;
    color: black;
}

.pp1 {
    margin-bottom: 1rem;
}

.about-us {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.links {
    margin-top: 4rem;
    margin-left: 5rem;
}

.links h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #07000b;

}


.links ul {
    list-style: disc;

    padding-left: 1rem;
}

.links li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.links li::marker {
    color: rgb(0, 0, 0);
}

.lable-last {
    background-color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-right: 0;

}

#inp {
    font-size: 1.4rem;
    margin-left: 0;
}

.us {
    margin-top: 3REM;
    background-color: rgb(8, 47, 74);
    color: #fff;
}










/* قسمت آخر*/
.lastlast {
    background-color: rgb(3, 34, 56);
    /* margin-top: 1.2rem; */
    text-align: center;
    color: wheat;
    padding: 1rem;
}